*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(backgroundimage2.jpg);
}
.otp{
    width: 800px;
    min-height: 400px;
    overflow: hidden;
    border-radius: 5px;
    background-color:#b7bba5;
    display: flex;
    box-shadow: 15px 5px 30px rgba(26, 8, 8, 0.3);
}
.icon{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.icon img{
    margin: 10px;
    justify-content: flex-start;
    border-radius: 50%;
    width: 60px;
    box-shadow: 3px 8px 12px rgb(185, 181, 181);
}
.content{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
}
.body{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body img{
    width: 100%;
    margin-top: 10px;
}
.otpcode{
    flex-basis: 50%;
    background: #cb9beb;
    font-family: 'Times New Roman', Times, serif;
    padding: 25px;
}
.otpcode h1{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 2.5em;
    color: black;
}
p{
    padding: 0px 0px 20px 35px;
    text-align: left;
    margin-bottom: 20px;
    color: black;
}
.tbox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px 20px;
}
.code{
    background-color: aliceblue;
    border-radius: 10px;
    border: 1px solid #eee;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 4px;
}

.p{
    text-align: left;
    margin-left: 80px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#resend{
    display: block;
    text-align: center;
    padding-left: 10px;
    color: rgb(52, 28, 184);
    margin-bottom: 30px;
    text-decoration: none;
}
button{
    display:block;
    margin: auto;
    width: 50%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid rgb(174, 48, 242);
    font-size: 15px;
    background-color: rgb(174, 48, 242);
    box-shadow: rgba(251, 251, 15, 0.925);
    
}
#verify{
    text-decoration: none;
    color: black;
}
@media( max-width:768px) 
{
    .otp{
        flex-direction: column;
        margin: 0px 15px;
    }
    .otpcode h1{
        text-align:center;
        margin-left:25px ;
        padding-bottom: 10px;
    }
    p{
        text-align: center;
    }
}

